<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Description" content="Generator kratownicy"/>
    <meta name="Keywords" content="Tu wpisz wyrazy kluczowe rozdzielone przecinkami"/>
    <title>Generator kodu do wydruku</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Glegoo', serif;
        }
        .only-print {
            display: none;
        }

        @media print {
            .only-print {
                display: block;
            }

            td {
                -webkit-print-color-adjust: exact !important;
            }

            .no-print, .no-print * {
                display: none !important;
            }

            .no-bg, .no-bg * {
                background-color: transparent !important;
            }
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-10">
            <table cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="no-bg">
                <tr>
                    <td></td>
                    <td v-for="row, index in grid" style="width: 30px; height: 25px; text-align: center;">{{
                        index|numberToLetter }}
                    </td>
                </tr>
                <tr v-for="row, row_index in grid">
                    <td style="height: 30px; width: 30px; text-align: right; padding-right: 5px;">{{ row_index+1 }}</td>
                    <td v-on:click="setColor(row_index, cell_index)" v-bind:style="{ 'background-color': cell }"
                        v-for="cell, cell_index in row"
                        style="cursor:pointer; width: 30px; height: 30px; border: 1px solid #aaaaaa; text-align: center;">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-2 no-print" style="padding-top: 2em;">
            <table>
                <tr>
                    <td width="50" height="50" v-bind:style="{ 'background-color': current_color }"></td>
                </tr>
                <tr>
                    <td width="50" height="50"></td>
                </tr>
                <tr v-for="color in colors">
                    <td v-on:click="pickColor(color.hex)" style="cursor: pointer; border: 1px solid #aaaaaa"
                        v-bind:style="{ 'background-color': color.hex }" width="50" height="50"></td>
                </tr>
            </table>
            <div style="padding-top: 1em;">
                <p>
                    Rozmiar:
                    <input type="number" min="2" max="26" step="1" v-model="size" v-on:change="clear" />
                </p>
                <p>
                    <button v-on:click="print" class="btn btn-primary"><i class="fa fa-print" aria-hidden="true"></i></button>
                    <button v-on:click="clear" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding-top: 2em;">
            <table border="1" style="width: 100%;">
                <tr v-for="color in colors">
                    <td v-bind:style="{ 'background-color': color.hex}" style="width: 40px; height: 40px;"></td>
                    <td style="padding-left: 5px;" v-html="colorData(color.hex, grid)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="display: none;">
        {{ bug }}
    </div>
    <div class="only-print">
        <div style="page-break-after: always;">

        </div>
        <div class="row">
            <div class="col-10">
                <table cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                    <tr>
                        <td></td>
                        <td v-for="row, index in grid" style="width: 40px; height: 25px; text-align: center;">{{
                            index|numberToLetter }}
                        </td>
                    </tr>
                    <tr v-for="row, row_index in grid">
                        <td style="height: 30px; width: 30px; text-align: right; padding-right: 5px;">{{ row_index+1 }}</td>
                        <td v-on:click="setColor(row_index, cell_index)" v-bind:style="{ 'background-color': cell }"
                            v-for="cell, cell_index in row"
                            style="cursor:pointer; width: 30px; height: 30px; border: 1px solid #aaaaaa; text-align: center;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  var generateGrid = function(size) {
    var grid = [];
    for (i = 0; i < size; i++) {
      grid[i] = [];
      for (j = 0; j < size; j++) {
        grid[i][j] = null
      }
    }
    return grid;
  };

  var numberToLetter = function (digit) {
    return '' + String.fromCharCode(digit + 65);
  };

  var colorLabels = function(){
    return this.pl + ' / ' + this.en;
  }

  var colors = [
    {hex: "#ff0000", lang: {pl: "Czerwony", en: "Red", toString: colorLabels}},
    {hex: "#ffff00", lang: {pl: "Żółty", en: "Yellow", toString: colorLabels}},
    {hex: "#00ff00", lang: {pl: "Zielony", en: "Green", toString: colorLabels}},
    {hex: "#00ffff", lang: {pl: "Niebieski", en: "Blue", toString: colorLabels}},
    {hex: "#ff00FF", lang: {pl: "Różowy", en: "Pink", toString: colorLabels}},
    {hex: "#803300", lang: {pl: "Brązowy", en: "Brown", toString: colorLabels}},
    {hex: "#000080", lang: {pl: "Granatowy", en: "Navy blue", toString: colorLabels}}
  ];

  var app = new Vue({
    el: '#app',
    data: {
      current_color: colors[0].hex,
      colors: colors,
      size: 15,
      grid: generateGrid(15),
      bug: null
    },
    filters: {
      numberToLetter: numberToLetter
    },
    methods: {
      colorData: function (color, grid) {
        var ret = '';
        console.log(color);
        for (colorData in colors) {
          if(colors[colorData].hex == color){
            ret += colors[colorData].lang;
          }
        }
        ret += ': '

        for (row in grid) {
          for (cell in grid[row]) {
            if (grid[row][cell] == color) {
              ret += '<span style="border: 1px solid #aaa; margin: 1px; padding: 1px 3px">'+numberToLetter(parseInt(cell)) + (parseInt(row) + 1) + '</span> ';
            }
          }
        }
        return ret
      },
      pickColor: function (color) {
        this.current_color = color;
      },
      setColor: function (x, y) {
        this.bug = Math.random();

        if (this.grid[x][y] == this.current_color) {
          this.grid[x][y] = null;
          return;
        }
        this.grid[x][y] = this.current_color;
      },
      print: function () {
        window.print();
      },
      clear: function () {
        this.grid = generateGrid(this.size);
        this.bug = Math.random();
      }
    }
  })
</script>
</body>
</html>

